{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Promise": "readonly"
  },
  "rules": {
    "brace-style": "error",
    "camelcase": "warn",
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "curly": "error",
    "eol-last": "warn",
    "eqeqeq": "error",
    "indent": ["error", 2],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": ["error", "unix"],
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": "error",
    "spaced-comment": "warn"
  },
  "overrides": [
    {
      "files": ["./index.js", "scripts/*.js", "src/*.test.js", "src/__mocks__/*"],
      "parserOptions": {
          "ecmaVersion": 2018
      }
    }
  ]
}